@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: "Fredoka", sans-serif;
    overflow-x: hidden;
    background-color:  rgba(204,77,171,1);
}
.container{
    width: 100%;
    height: 100%;
}
.name{
    display: flex;
    align-items: center;
    padding: 20px 30px;
    font-size: 2rem;
}
button{
    height: 60px;
    border-radius: 10px;
    margin: 0px 25px;
    display: flex;
    align-items: center;
    background-color: purple;
    border: 3px solid white;
    color: white;
}
button img{
    padding: 10px;
    height: 90%;
}
button h3{
    padding: 10px;
}
.para{
    width: 55%;
    padding: 20px;
}
.para p{
    position: relative;
    width: 100%;
    min-height:50px;
    border: 2px solid blanchedalmond;
    padding: 30px;
    outline: none;
    margin: 30px;
    border-radius: 10px;
    background-color: white;
    font-size: 1.5rem;
}
.para img{
    position: absolute;
    width: 30px;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    z-index: 1;
    background-color: black;
}

@media screen and (max-width:860px) {
    .name{
        display: flex;
        align-items: center;
        font-size: 2rem;
    }
    .name img{
        width: 60px;
        height: 70px;
    }
    button{
        height: 65px;
        border-radius: 10px;
        margin: 0px 25px;
    }
    button h3{
        padding: 10px;
        font-size: 1.3rem;
    }
    .para{
        width: 75%;
        padding: 20px;
        position: relative;
    }
    .para .input{
        width: 100%;
        min-height: 100px;
        border: 2px solid blanchedalmond;
        padding: 10px;
        outline: none;
        margin: 30px;
        border-radius: 10px;
        background-color: white;
        font-size: 0.8rem;
    }
    .para .input img{
        position: absolute;
        width: 20px;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
        z-index: 1;
        background-color: black;
    }
    
}

@media screen and (max-width:450px) {
    .name{
        font-size: 1rem;
    }
    .name img{
        width: 30px;
        height: 40px;
    }
    button{
        height: 55px;
        margin: 0px 15px;
    }
    button .not{
        padding: 10px;
        height: 100%;
        width: 50px;
    }
    button h3{
        padding: 10px;
        font-size: 0.8rem;
    }
    .para{
        width: 90%;
        padding: 20px;
    }
    .para p{
        width: 100%;
        min-height: 100px;
        padding: 10px;
        margin: 30px;
        border-radius: 10px;
        font-size: 0.8rem;
    }
    .para .input img{
        width: 20px;
        right: 10px;
        bottom: 10px;
    }
    
}







